# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Model weights (too large for git)
HY-MT1.5-1.8B/
HY-MT1.5-1.8B-new-tok/
output_muon/
Qwen/Qwen3-*/
Qwen/eval_results/

# Python
__pycache__/
*.pyc

# Private
private/
.claude/

# PDF
*.pdf
